### QEMUNET CONFIGURATION ###

# Template
# SYS[sysname]="linux|windows|..."
# QEMUOPT[sysname]="qemu extra options"
# FS[sysname]="/absolute/path/to/raw/system/sysname.img"
# KERNEL[sysname]="/absolute/path/to/system/sysname.vmlinuz"  # optional, required for -x option
# INITRD[sysname]="/absolute/path/to/system/sysname.initrd"   # optional, required for -x option
# URL[sysname]="http://url/where/to/find/sysname.tgz"         # optional, url to download sysname.tgz (including FS, KERNEL and INITRD)

# IMGDIR="/absolute/path/to/raw/system/images"
IMGDIR="$QEMUNETDIR/images"

# tinycore
SYS[tinycore]="linux"
FS[tinycore]="$IMGDIR/tinycore.img"
QEMUOPT[tinycore]="-m 512"
URL[tinycore]="http://aurelien.esnard.emi.u-bordeaux.fr/qemunet/tinycore.tgz"

# linux debian 9
SYS[debian9]="linux"
FS[debian9]="$IMGDIR/debian9.img"
KERNEL[debian9]="$IMGDIR/debian9.vmlinuz"
INITRD[debian9]="$IMGDIR/debian9.initrd"
QEMUOPT[debian9]="-m 512"
URL[debian9]="http://aurelien.esnard.emi.u-bordeaux.fr/qemunet/debian9.tgz"

# linux debian 10
SYS[debian10]="linux"
FS[debian10]="$IMGDIR/debian10.img"
KERNEL[debian10]="$IMGDIR/debian10.vmlinuz"
INITRD[debian10]="$IMGDIR/debian10.initrd"
QEMUOPT[debian10]="-m 512"
URL[debian10]="http://aurelien.esnard.emi.u-bordeaux.fr/qemunet/debian10.tgz"

# linux debian (=> debian10)
SYS[debian]="linux"
FS[debian]="$IMGDIR/debian10.img"
KERNEL[debian]="$IMGDIR/debian10.vmlinuz"
INITRD[debian]="$IMGDIR/debian10.initrd"
QEMUOPT[debian]="-m 512"
URL[debian]="http://aurelien.esnard.emi.u-bordeaux.fr/qemunet/debian10.tgz"

# linux debian 10 X11
SYS[debian10x]="linux"
FS[debian10x]="$IMGDIR/debian10x.img"
QEMUOPT[debian10x]="-m 2G"
URL[debian10x]="http://aurelien.esnard.emi.u-bordeaux.fr/qemunet/debian10x.tgz"

# linux debianx (=> debian10x)
SYS[debianx]="linux"
FS[debianx]="$IMGDIR/debian10x.img"
QEMUOPT[debianx]="-m 2G"
URL[debian]="http://aurelien.esnard.emi.u-bordeaux.fr/qemunet/debian10x.tgz"

# linux alpine
SYS[alpine]="linux"
FS[alpine]="$IMGDIR/alpine.img"
QEMUOPT[alpine]="-m 1G"
URL[alpine]="http://aurelien.esnard.emi.u-bordeaux.fr/qemunet/alpine.tgz"

# linux alpine X11
SYS[alpinex]="linux"
FS[alpinex]="$IMGDIR/alpinex.img"
QEMUOPT[alpinex]="-m 1G"
URL[alpinex]="http://aurelien.esnard.emi.u-bordeaux.fr/qemunet/alpinex.tgz"

# linux kali
SYS[kali]="linux"
FS[kali]="$IMGDIR/kali.img"
QEMUOPT[kali]="-m 1G"
URL[kali]="http://aurelien.esnard.emi.u-bordeaux.fr/qemunet/kali.tgz"

# winxp
SYS[winxp]="windows"
FS[winxp]="$IMGDIR/winxp.img"
QEMUOPT[winxp]="-m 1G -usbdevice tablet"
URL[winxp]="http://aurelien.esnard.emi.u-bordeaux.fr/qemunet/winxp.tgz"

# win10
# SYS[win10]="windows"
# FS[win10]="$IMGDIR/win10.img"
# QEMUOPT[win10]="-localtime -m 2G -cpu host -smp 2 -usbdevice tablet"

# EOF